a:hover{
    text-decoration: underline;
}


a {
    color: #000;
    text-decoration: none;
}

body, a, p, .h {
    font-family: arial,sans-serif;
}

.right {
    justify-self: end;
    margin: 0 1em;
}

.left {
    text-align: left;
    justify-self: start;
}

#top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

ul {
    list-style: none;
}

main {
    display: grid;
}
 
ul {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
    gap: 10px;
    justify-content: center;
}

#center {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 15px;
    
}
.search {
    border-radius: 20px;
    height: 30px;
    width: 400px;
}
#sign-in {
  background: #4285F4;
  border-radius: 2px;
  color: #FFF;
  border: 10px;
}
